html body {
  background-color: #4b5320;
  margin: 0;
  padding: 0;
  font-family: 'BenchNine', sans-serif;
  /* height: 100% */
}

.h1-ctn {
  text-align: center;
}

h1 {
  color: #4b5320;
  text-align: center;
  align-items: center;
}

.save {
    border-radius: 50%;
  }

.ctn {
  border: solid 1px red;
  padding-bottom: 0;
  position: relative;
  bottom: 0;
}

.logo {
  width: 20%;
  opacity: 0.8;
  /* border: solid 1px red; */
}

.emblem {
  width: 50%;
  float: right;
  opacity: 0.6;
  /* height: 75px; */
  /* border: solid 1px red; */
}

.landing:after {
    content:'';
    background: url('jet.jpeg') no-repeat center center;
    position: absolute;
    background-size: cover;
    top: 0px;
    left: 0px;
    width:100%;
    height: 90%;
    z-index:-1;
    opacity: 0.7;
    /* border: solid 1px red; */
    bottom: 0;
    padding-bottom: 0;
}

.center-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  border: solid 3px black;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  background-color: white;
  opacity: .8;
  padding-bottom: 15px;
}

.origin {
  font-weight: bold;
  margin-left: 20px;
  font-size: 1.4em;
  color: #4b5320;
  text-align: left;
  margin-bottom: 15px;
}


label {
  font-size: .8em;
  padding: 5px;
  text-align: center;
}



.description {
  padding: 0;
  margin: 0;
  font-size: .6em;
}

button {
  /* margin: 10px; */
  border-radius: 50%
}

.reset {
  font-size: 13px;
  width: 50px;
  color: #4b5320;
  background-color: white;
  border-radius: 5px;
}

.save {
  font-size: 13px;
  /* width: 100px; */
  color: #4b5320;
  background-color: white;
  border-radius: 50%;
  float: right;
}



q {
  text-align: center;
  position: relative;
  top: 10px;
  color: white;
  font-size: 1.2em;
}

.footer {
  position: absolute;
  /* left: 0; */
  bottom: 0;
  /* margin-bottom: 0;
  padding-bottom: 0;  */
  /* border-style: ridge; */
  border-color: black;
  /* width: 100%; */
  color: white;
  background-color: #4b5320;
  text-align: center;
  left: 0;
  right: 0;
}

.links {
  color: white;
  padding: 3px;
  text-decoration: underline;
  font-size: 1.3em;
}


/* a:link, a:visited {
  margin-left: 20px;
    color: #4b5320;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
} */

.footer img {
  /* top: 10px; */
  position: relative;
  padding: 0;
}
