html, body{
  background: url(images/jet.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'BenchNine', sans-serif;
}


.logo {
  width: 50%;
}

.emblem-holder {
	text-align: right;
	width: 50%;
	float: right;
}

.emblem {
  width: 100%;
  position: relative;
}

.row {
  text-align: center;
  margin: 0;
  padding: 10px;
  margin-top: 150px;
  background-color: #4b5320;
  opacity: .8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.need {
  text-align: left;
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 3px;
}

#move {
  text-align: left;
}

/* zipcode form */
label {
  /* font-size: 1.4em; */
  padding: 0px;
  margin: 0;
  color: white;
  font-size: 1.3em;
  padding: 5px;
  text-align: center;
}

.headers {
  font-size: 1.7em;
  text-decoration: underline;
}

.zip {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

#old-city {
  padding: 0;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

#new-city {
  padding: 0;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

/* details form */
.form2-holder {
  padding: 0;
  margin: 0;
}

.details {
  font-size: 1.5em;
  color: white;
}

#people {
  border-radius: 5px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-size: 1.15em;
}

#bedrooms {
  border-radius: 5px;
  width: 120px;
  height: 25px;
  text-align: center;
  font-size: 1.15em;
}

#sqft {
  border-radius: 5px;
  width: 80px;
  height: 25px;
  text-align: center;
  font-size: 1.15em;
}

/* date selection input */
#datepicker {
  /* color: #4b5320; */
  border-radius: 5px;
  text-align: center;
  width: 95px;
  height: 25px;
  font-size: 1.15em;
}

.people-moving {
  /* border-radius: 5px; */
  position: relative;
  text-align: left;
}

.bdrm-input {
  /* border-radius: 5px; */
  position: relative;
  text-align: left;
}

.sqft {
  /* border-radius: 5px; */
  position: relative;
  text-align: left;
}

/* date picker font */
.datepicker {
  border-radius: 5px;
  position: relative;
  text-align: left;
}

/* submit button div */
.button-holder {
  text-align: center;
}

/* submit button */
.submit {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  color: #4b5320;
  font-size: 1.5em;
  border-width: lighter;
  border-color: #4b5320;
  margin-top: 20px;
  margin-bottom: 100px;
  position: relative;
}

/* submit button styling (hovering) */
.submit:hover {
  background: black;
  color: #4b5320;
  cursor: pointer;
  font-weight: bold;
}

/* quotes on footer */
q {
  position: relative;
  color: white;
  font-size: 1.5em;
}

/* page footer */
footer {
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #4b5320;
  text-align: center;
  left: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
}

/* footer links */
a {
  padding: 3px;
  text-decoration: underline;
  font-size: 1.5em;
}
